---
layout: default
title: Blog
---

<div class="hero">
  <img class="blog-img" src="assets/images/Caird1.jpg" alt="The Endurance listing to port in the ice.">
  <h1 class="blog-title">BLOG</h1>
</div>

<div class="blog-container">

  <div class="blog-content">

    <h2>Daily Logs</h2>

    <p>
      Discover the daily experiences of the crew. 
    </p>

    <ul>
      {% for day in site.days %}
        <li>
          <h3><a href="{{ day.url }}">{{ day.title }}</a></h3>
        </li>
      {% endfor %}
    </ul>

  </div>

  <ul>
    {% for tag in site.data.tags %}
    <li>
      <a href="/{{ tag.name }}">{{ tag.name }}</a>
    </li>
    {% endfor %}
  </ul>
<!--
  <div class="blog-sidebar">
    <h2>Search by Date</h2>
      <ul>
        {% assign days_1914 = site.days | where_exp: "item", "item.path contains '_days/1915/'" %}
        {% for day in days_1914 %}
          <li><a href="{{ day.url }}">{{ day.title }}</a></li>
        {% endfor %}
      </ul>
  </div>
-->
</div>