---
layout: default
title: Blog
---

<div class="hero">
  <img class="blog-img" src="assets/images/Caird1.jpg" alt="The Endurance listing to port in the ice.">
  <h1 class="blog-title">BLOG</h1>
</div>

<div class="blog-container">

  <div class="blog-content">

    <h2>Daily Logs</h2>

    <p>
      Discover the daily experiences of the crew. 
    </p>

    <ol>
      {% for day in site.days %}
        <li>
          <h3><a href="{{ day.url }}">{{ day.title }}</a></h3>
        </li>
      {% endfor %}
    </ol>

  </div>

  <div class="blog-sidebar">

    <h2>Search by Date</h2>

    <h3>1914</h3>

    <ol>
      {% for tag in site.data.tags %}
        {% if tag.name contains '1914' %}
          <li>
            <a href="/{{ tag.name }}">{{ tag.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ol>

  </div>

</div>