---
layout: default
title: Blog
---

<div class="hero">
  <img class="blog-img" src="assets/images/Caird1.jpg" alt="The Endurance listing to port in the ice.">
  <h1 class="blog-title">BLOG</h1>
</div>

<div class="blog-content">

  <h2>Daily Logs</h2>

  <p>
    Discover the daily experiences of the crew. 
  </p>

  <ul>
    {% for day in site.days %}
      <li>
        <h3><a href="{{ day.url }}">{{ day.title }}</a></h3>
      </li>
    {% endfor %}
  </ul>
<!--
  <aside>
    <h3>Composers</h3>
    <ul>
      <li>
        <a href="/musicBlog.html">All</a>
      </li>
      {% for tag in site.data.music_tags %}
      <li>
        <a href="/tags/{{ tag.name }}">{{ tag.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </aside>
-->
</div>