---
layout: default
title: The Crew
---

<div class="hero">
  <img class="crew-img" src="/assets/images/Crew1.jpg" alt="All 28 crew members standing at the bow of the Endurance.">
  <h1 class="crew-title">The<br>CRew</h1>
</div>

<div class="content">

  <h2>The Crew of <i>Endurance</i></h2>

  <p>
    The crew of <i>Endurance</i> was made up of 28 men from England, Ireland, Scotland, Wales, Australia, the United States of America, and New Zealand. Shackleton meticulously selected his crew for their skills, experience, and ability to work as a team. But his interview process was reported to be quite unique, asking one man if he could sing and hiring another because he looked funny. This doesn't mean he chose cavalierly; Shackleton only selected highly skilled men to man his ship. However, two members (O. Barr and J. Irving) were dismissed in Buenos Aires for unruliness (possibly four members, by some records), another chose to leave before the final journey to Antarctica, and one young man was a stowaway but became a valued crew member.
  </p>

  <ul class="crew-list">
    {% assign sorted_crew = site.crews | sort: "order" %}
    {% for crew in sorted_crew %}
      <li>
        <h3><a href="{{ crew.url }}">{{ crew.name }}</a></h3>
        <h4>{{ crew.position }}</h4>
      </li>
    {% endfor %}
  </ul>

  <h2>The Animals of <i>Endurance</i></h2>

  <p>In addition to the crew, <i>Endurance</i> hosted multiple dog teams, several pigs, and a cat, Mrs Chippy. To find out more about Mrs Chippy, you can find her in the crew section above. Below are the named dogs on the expedition.</p>

  <ul class="animal-list">
    <li>Amundsen</li>
    <li>Bob</li>
    <li>Bosun</li>
    <li>Bristol</li>
    <li>Bummer</li>
    <li>Caruso</li>
    <li>Chirgwin</li>
    <li>Chips</li>
    <li>Elliott</li>
    <li>Fluffy</li>
    <li>Hackenschmidt</li>
    <li>Hercules</li>
    <li>Jamie</li>
    <li>Jasper</li>
    <li>Jerry</li>
    <li>Judge</li>
    <li>Luipold</li>
    <li>Luke</li>
    <li>Mack</li>
    <li>Martin</li>
    <li>Mercury</li>
    <li>Millhill</li>
    <li>Noel</li>
    <li>Painful</li>
    <li>Peter</li>
    <li>Roy</li>
    <li>Rufus</li>
    <li>Rugby</li>
    <li>Sailor</li>
    <li>Sadie</li>
    <li>Saint</li>
    <li>Sammy</li>
    <li>Samson</li>
    <li>Sandy</li>
    <li>Satan</li>
    <li>Shakespeare</li>
    <li>Sidelights</li>
    <li>Simeon</li>
    <li>Skipper</li>
    <li>Slippery</li>
    <li>Slobbers</li>
    <li>Smuts</li>
    <li>Snowball</li>
    <li>Songster</li>
    <li>Sooty</li>
    <li>Spider</li>
    <li>Splitlip</li>
    <li>Spotty</li>
    <li>Squeeze</li>
    <li>Steamer</li>
    <li>Steward</li>
    <li>Sub</li>
    <li>Sue</li>
    <li>Sweep</li>
    <li>Swanker</li>
    <li>Tim</li>
    <li>Snapper</li>
    <li>Snowball</li>
    <li>Stumps</li>
    <li>Ulysses</li>
    <li>Upton</li>
    <li>Wolf</li>
  </ul>

  <h2>The Crew of <i>Aurora</i></h2>

  <p>
    <i>Endurance</i> was only one part of the expedition. There was a second ship, <i>Aurora</i>, which carried the Ross Sea Party. This party was tasked with laying supply depots for Shackleton's planned crossing of Antarctica. The Ross Sea Party faced its own incredible challenges, including being stranded when <i>Aurora</i> broke free from its moorings during a storm and drifted away, leaving the crew behind. Below is the crew list for the <i>Aurora</i> expedition.
  </p>

  <h3>Shore Party</h3>

  <ul class="aurora-list">
    <li>Aeneas Mackintosh, Commander*</li>
    <li>Ernest Joyce, Sledging Equipment and Dogs</li>
    <li>Ernest Wild, Storekeeper</li>
    <li>Reverend Arnold Spencer-Smith, Chaplain and Photographer*</li>
    <li>John Lachlan Cope, Biologist and Surgeon</li>
    <li>Alexander Stevens, Chief Scientist</li>
    <li>Richard W. Richards, Physicist</li>
    <li>Andrew Keith Jack, Physicist</li>
    <li>Irvine Gaze, General Assistant</li>
    <li>Victor Hayward, General Assistant*</li>
  </ul>

  <p>*Died during expedition.</p>

  <h3><i>Aurora</i> Crew</h3>

  <ul class="aurora-list">
    <li>Aubrey Howard Ninnis, Motor</li>
    <li>Lionel Hooke, Wireless Telegraph Operator</li>
    <li>Joseph Stenhouse, First Officer</li>
    <li>Leslie Thomson, Second Officer</li>
    <li>Alfred Larkman, Chief Engineer</li>
    <li>C. Adrian Donnelly, Second Engineer</li>
    <li>James Paton, Boatswain</li>
    <li>Clarence Maugher, Carpenter</li>
    <li>Sydney Atkin, Able Seaman</li>
    <li>Arthur Downing, Able Seaman</li>
    <li>William Kavanagh, Able Seaman</li>
    <li>A. “Shorty” Warren, Able Seaman</li>
    <li>Charles Glidden, Ordinary Seaman</li>
    <li>S. Grady, Fireman</li>
    <li>William Mugridge, Fireman</li>
    <li>Harold Shaw, Fireman</li>
    <li>Edwin Thomas Wise, Cook</li>
    <li>Emile d'Anglade, Steward</li>
  </ul>

</div>

{% include spacer.html %}