<nav>

  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  
  <div class="nav-container">

    <img src="/assets/images/nav.jpg" alt="Nautical grid lines.">

    <p class="nav-title">The Endurance Project</p>
    


    <ul class="nav-links">
    {% for item in site.data.navigation %}
      <li><a href="{{ item.link }}"{% if page.url == item.link %} class="current"{% endif %}>{{ item.name }}</a></li>
    {% endfor %}
    </ul>

  </div>

</nav>

<div style="height: 60px;"></div>