// MARK: Variables

$bgcolor: #ffffff;
$textcolor: #000000;
$accent: #ff5e00;
$font: "EB Garamond", "Georgia", serif;


// MARK: Body

body {
  display: flex;
  flex-direction: column;
  font-family: $font;
  font-size: 16px;
  line-height: 1;
  color: $textcolor;
  background-color: $bgcolor;
  margin: 0;
}

p {
  font-size: 1.2em;
  line-height: 1.2;
  color: $textcolor;
}

h1 {
  font-family: "Cinzel Decorative", serif;
  font-size: 5em;
  margin: 32px;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  text-align: left;
}

h3 {
  font-size: 1.5rem;
  text-align: left;
}

a {
  text-decoration: none;
  color: $accent;
}


// MARK: Special Elements

.hero {
  position: relative;
  overflow: hidden;
  max-height: 600px;
  height: 600px;
  width: 100%;
}

.hero h1 {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 0 50px;
  padding: 0;
  transition: 0.3s;
}

.hero-text {
  left: 30%;
  
}

.crew-title {
  left: 20%;
}

.ship-title {
  left: 30%;
}

.blog-title {
  left: 20%
}

.bib-title {
  left: 27%;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.3s;
}

.hero-img {
  object-position: right 80%;
}

.ship-img {
  object-position: right 35%;
}

.crew-img {
  object-position: 85% center;
}

.blog-img {
  object-position: 90% center;
}

.bib-img {
  object-position: right center;
}


// MARK: Containers

.container-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.container img {
  width: 50vw;
  height: auto;
}

.container h2,
.container p {
  max-width: 600px;
  margin: 32px;
}

.divider {
  display: flex;
  height: 100px;
  background-image: url("/assets/images/divider.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}


// MARK: Navigation

.current {
    color: $accent;
    font-weight: bold;
  }

nav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: flex-start;
  overflow: hidden;
  text-align: center;
  z-index: 10;
  height: 60px;
  backdrop-filter: blur(4px);
}

nav a {
  display: inline-block;
  font-family: $font;
  font-weight: 400;
  font-size: 1.3em;
  color: $textcolor;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: $accent;
}

.nav-title {
  margin-right: auto;
  font-size: 1.5em;
  font-weight: bold;
  color: $accent;
  padding-left: 32px;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  white-space: nowrap;
  list-style-type: none;
  gap: 48px;
}

nav img {
  max-width: 100%;
  height: auto;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}


// MARK: Media

@media screen and (max-width: 900px) {

  .ship-title {
    left: 40%;
    text-align: center;
    color: white;
  }

  .ship-img {
    filter: brightness(0.75);
  }

  .blog-title {
    left: 40%;
    text-align: center;
    color: white;
  }

  .blog-img {
    filter: brightness(0.75);
  }
}

@media screen and (max-width: 1000px) {

  .nav-title {
    display: none;
  }

  div .hero-text {
    text-align: center;
    left: 40%;
    color: white;
  }

  .hero-img {
    filter: brightness(0.75);
  }

  .crew-title {
    left: 40%;
    text-align: center;
    color: white;
  }

  .crew-img {
    filter: brightness(0.75);
  }

  .bib-title {
    left: 36%;
    text-align: center;
    color: white;
    scale: 0.9;
  }

  .bib-img {
    filter: brightness(0.75);
  }
}

@media screen and (max-width: 1300px) {

  .nav-title {
    display: none;
  }

}

@media (pointer: coarse) {
  nav {
    display: none;
  }
}