// MARK: Variables

$bgcolor: #ffffff;
$textcolor: #000000;
$accent: #13a78c;
$font: "EB Garamond", "Georgia", serif;


// MARK: Body

body {
  display: flex;
  flex-direction: column;
  font-family: $font;
  font-size: 16px;
  line-height: 1;
  color: $textcolor;
  margin: 0;
}

p {
  font-size: 1.2em;
  line-height: 1.2;
  color: $textcolor;
  margin: 32px;
}

h1 {
  font-size: 5em;
  margin: 32px;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  text-align: left;
  margin: 32px;
}

h3 {
  font-size: 1.5rem;
  text-align: left;
  margin: 32px;
}

a {
  text-decoration: none;
  color: $accent;
}

img {
  width: 100%;
  height: auto;
}


// MARK: Special Elements

.hero {
  position: relative;
  overflow: hidden;
  max-height: 600px;
  height: 600px;
  width: 100%;
}

.hero h1 {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 0 50px;
  padding: 0;
}

.hero-text {
  left: 30%;
}

.crew-title {
  left: 15%;
}

.ship-title {
  left: 25%;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-img {
  object-position: right bottom;
}

.ship-img {
  object-position: right center;
}

.crew-img {
  object-position: 70% center;
}


// MARK: Navigation

.current {
    color: $accent;
    font-weight: bold;
  }

nav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: flex-start;
  padding: 15px 0;
  text-align: center;
  background: #ffffff7f;
  backdrop-filter: blur(8px);
  z-index: 10;
  min-height: 30px;
}

nav a {
  display: inline-block;
  font-size: 1.2em;
  color: $textcolor;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  transition: 0.3s;
}

nav a:hover {
  color: $accent;
}

.nav-title {
  margin-right: auto;
  font-size: 1.5em;
  font-weight: bold;
  color: $accent;
  padding-left: 32px;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}


// MARK: Media

@media screen and (max-width: 800px) {
  .nav-title {
    display: none;
  }

  .crew-title {
    left: 40%;
    text-align: center;
  }

  .ship-title {
    left: 40%;
    text-align: center;
  }
}