<!doctype html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{'assets/css/style.css' | relative_url}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" type="assets/images/Universe.png" href="favicon.png">

    {% feed_meta %}
    {% seo %}

  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>