---
layout: default
---

<div class="content">

    <h1>{{ page.date | date: "%B %-d, %Y" }}</h1>

    <h2 class="post-h2">{{ page.date | date: "%A" }}</h2>

    {{ content }}

	<div class="previous-next-post-links">
		
		<div>
			{% if page.previous != nil %}
				<a class="arrow arrow__left" href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.date | date: "%B %-d, %Y" }}</a>
			{% endif %}
		</div>

		<div>
			{% if page.next != nil %}
				<a class="arrow arrow__right" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.date | date: "%B %-d, %Y" }}</a>
			{% endif %}
		</div>

	</div>

</div>
