---
layout: default
---

<div class="content">

    <h1>{{ page.date | date: "%B %-d, %Y" }}</h1>

    <h2 class="post-h2">{{ page.date | date: "%A" }}</h2>

    {{ content }}

	<div class="post-nav">
		
		<div class="post-prev">
			{% if page.previous != nil %}
				<a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.date | date: "%B %-d, %Y" }}</a>
			{% endif %}
		</div>

		<div class="post-next">
			{% if page.next != nil %}
				<a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.date | date: "%B %-d, %Y" }}</a>
			{% endif %}
		</div>

	</div>

</div>
